.App {
  display: flex;
  justify-content: center; /* Căn giữa ngang */
  align-items: center; /* Căn giữa dọc */
  flex-direction: column;
}

.todo-item {
  display: flex;
  justify-content: center; /* Căn giữa ngang */
  align-items: center; /* Căn giữa dọc */
}

.todo-form {
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.todo-form h2 {
  text-align: center;
  color: #333;
  margin-bottom: 10px;
}

.todo-form input {
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.todo-form input:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.3);
}

.todo-form input::placeholder {
  color: #aaa;
}

.submit-btn {
  padding: 12px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.submit-btn:hover {
  background-color: #0056b3;
  transform: translateY(-2px);
}

.submit-btn:active {
  transform: translateY(0);
}

.custom-list {
  margin-top: 20px;
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
  color: #333;
  margin-bottom: 10px;
}

.custom-list :hover {
  background-color: #e0e0e0; /* Màu nền khi di chuột qua */
}

.todo-item {
  margin-top: 10px;
  padding: 10px;
  display: flex;
  justify-content: space-between; /* Đẩy hai component ra hai bên */
  width: 100%; /* Đảm bảo parent chiếm toàn bộ chiều rộng */
}

.edit-item {
  margin-top: 10px;
  padding: 10px;
  display: flex;
  justify-content: space-between; /* Đẩy hai component ra hai bên */
  width: 100%; /* Đảm bảo parent chiếm toàn bộ chiều rộng */
}

.edit-item input {
  padding: 12px;
  border: 1px;
  border-radius: 5px;
  font-size: 16px;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.todo-work {
  text-align: left;
  font-size: large;
}

.button-group {
  display: flex;
  gap: 10px; /* Khoảng cách giữa các nút */
}

.edit-btn,
.delete-btn,
.cancel-btn {
  padding: 8px 12px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.2s;
}

.edit-btn {
  background-color: #4caf50; /* Màu xanh cho nút Edit */
  color: white;
}

.edit-btn:hover {
  background-color: #45a049;
}

.delete-btn,
.cancel-btn {
  background-color: #f44336; /* Màu đỏ cho nút Xóa */
  color: white;
}

.delete-btn:hover {
  background-color: #da190b;
}
